<h1 class="text-center alert-danger" *ngIf="!userId" >Veillez vous connecte</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <td>Age</td>
      <td>Race</td>
      <td>Nourriture</td>
      <td>Voir</td>
    </tr>
  </thead>
  <tbody>
    <tr  *ngFor="let pangolin of pangolin">
      <td>{{ pangolin?.age }}</td>
      <td>{{ pangolin?.race}}</td>
      <td>{{ pangolin?.nourriture }}</td>
      <td><a class="btn btn-primary"  (click)="onProductClicked(pangolin._id)"> voir </a> </td>
      <td><a class="btn btn-success"  (click)="onadd(pangolin._id)" *ngIf="pangolin.relation == null" > Ajouter</a></td>
      <td><a class="btn btn-danger"  (click)="ondelete(pangolin._id)" *ngIf="pangolin.relation == userId"> Retirer</a></td>
    </tr>
  </tbody>
</table>

