<div class="col-sm-8 offset-sm-2 mt-2">
  <form [formGroup]="loginForm">
    <div class="form-group">
      <label for="email">Adresse mail</label>
      <input type="email" id="email" formControlName="email" class="form-control">
    </div>
    <div class="form-group">
      <label for="password">Mot de passe</label>
      <input type="password" id="password" formControlName="password" class="form-control">
    </div>
    <button class="btn btn-primary" (click)="onLogin()" [disabled]="loginForm.invalid">Connexion</button>
  </form>
  <p class="alert-danger" *ngIf="errorMessage">Adresse ou mot de passe invalide</p>
</div>
