<div class="center">
  <div class="col-sm-6 offset-sm-3 mt-2">
    <p class="alert-danger" *ngIf="!userId">Veillez vous connecte</p>
    <form [formGroup]="thingForm">
      <div class="form-group">
        <label for="age">Age</label>
        <input type="number" placeholder="Age.." id="age" formControlName="age" class="form-control">
      </div>
      <div class="form-group">
        <label for="famille">Famille </label>
        <input type="text" id="famille" placeholder="Famille..."  class="form-control" formControlName="famille">
      </div>
      <div class="form-group">
        <label for="race">Race </label>
        <input type="text" id="race" placeholder="Race ..."  class="form-control" formControlName="race">
      </div>
      <div class="form-group">
        <label for="nourriture">Nourriture</label>
        <textarea name="nourriture"
                   placeholder="nourriture..."
                  id="nourriture"
                  cols="30" rows="4"
                  class="form-control"
                  formControlName="nourriture"
                  placeholder="Nourriture !!!!"></textarea>
      </div>
      <button class="btn btn-primary" (click)="onSubmit()" [disabled]="thingForm.invalid">Valider</button>
      <p class="alert-danger" *ngIf="errorMessage">Veillez vous connecte</p>
    </form>
  </div>
</div>
