<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active">
        <a routerLink="pangolins">Liste</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="pangolin/new">Nouveau</a>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li routerLinkActive="active" *ngIf="!isAuth">
        <a routerLink="auth/signup">Créer un compte</a>
      </li>
      <li routerLinkActive="active" *ngIf="!isAuth">
        <a routerLink="auth/login">Connexion</a>
      </li>
      <li *ngIf="isAuth">
        <a (click)="onLogout()"
           style="cursor:pointer"
           >Déconnexion</a>
      </li>
    </ul>
  </div>
</nav>
