<div >
  <button class="btn btn-link" (click)="onGoBack()"><< Retour</button>
  <div class="single-thing-pane">
    <div class="single-thing-info">
      <p> Age : {{ pangolin?.age }} Ans </p>
      <p> Race :{{ pangolin?.race}}</p>
      <p>Nourriture : {{ pangolin?.nourriture }}</p>
      <p>user : {{ pangolin?.userId }}</p>
      <button *ngIf ='pangolin.userId == userId' class="btn btn-success m-1" (click)="onClickedEdit()" >Modifier</button> &nbsp;
      <button *ngIf ='pangolin.userId == userId' class="btn btn-danger m-1" (click)="onClickedDelete()"  >Supprimer</button>
    </div>
  </div>
</div>
