<div class="col-sm-6 offset-sm-3 mt-2">
  <form [formGroup]="thingForm">
    <div class="form-group">
      <label for="age">Age</label>
      <input type="number" id="age" class="form-control" formControlName="age" min="0">
    </div>
    <div class="form-group">
      <label for="famille">Famille</label>
      <input type="text" placeholder="Quel famille ?" id="famille" formControlName="famille" class="form-control">
    </div>
    <div class="form-group">
      <label for="race">Race</label>
      <input type="text" placeholder="Quel famille ?" id="race" formControlName="race" class="form-control">
    </div>
    <div class="form-group">
      <label for="nourriture">Nourriture</label>
      <textarea name="nourriture"
                id="nourriture"
                cols="30" rows="7"
                class="form-control"
                formControlName="nourriture"
                placeholder="Nourriture !!!"></textarea>
    </div>
    <button class="btn btn-success" (click)="onSubmit()" [disabled]="thingForm.invalid">Valider</button>
    <p class="alert-danger" *ngIf="errorMessage">{{ errorMessage }}</p>
  </form>
</div>
